* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

fieldset {
    border: none;
}

.main-section {
    display: flex;
    flex-direction: row;
}

.sidebar-settings {
    display: flex;
    flex-direction: column;
}

.sidebar-btn {
    width: 20px;
    height: 20px;
}

.sidebar {
    width: 300px;
    background-color: rgb(255, 236, 248);
}

.task-list {
    flex: 1;
    background-color: aliceblue;
}

.category-settings {
    display: flex;
    flex-direction: row;
}