* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

fieldset {
    border: none;
}

.main-section {
    display: flex;
    flex-direction: row;
}

.sidebar-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    height: 100vh;
    
}

.sidebar-btn {
    background-color: transparent;
    align-items: center;
    border: none;
    font-size: 30px;
    color: rgb(154, 154, 154);
    transition: transform 1s ease;
}

.sidebar-open-btn {
    transform: rotate(90deg);
}

.sidebar-close-btn {
    transform: rotate(-90deg);
}

.sidebar {
    width: 300px;
    padding: 15px;
}

.task-list {
    flex: 1;
    padding: 50px 200px;
    background-color: rgb(245, 245, 245);
}

.category-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
    padding: 10px;
}

.category-settings:hover {
    background-color: aliceblue;
    border-radius: 10px;
}


.category-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.category-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.list-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
}

.list-name {
    padding: 5px;
}

.color-input {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.color-container {
    display: flex;
    flex-direction: column;
}

.color-header {
    font-size: 10px;
}

.category-btn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.category-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0; /* start at top of screen */
    left: 0; /* start at left of screen */
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* rgba - a: makes background transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.list-modal {
    padding: 50px;
    border-radius: 15px;
    background-color: white;
}

.list-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px rgb(226, 226, 226);
}

.my-list {
    font-size: 15px;
}

.list-settings-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.list-settings-btn:hover {
    cursor: pointer;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
}

.task-info {
    display: flex;
    flex: row;
    gap: 15px;
    font-size: 12px;
    margin-top: 10px;
}

.action-btn {
    margin-right: 20px;
    background-color: transparent;
    border: none;
}

.todo-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.todo-form:focus-within {
    outline: solid 5px rgb(226, 226, 226);
}

.name-container {
    flex: 1;
    margin-right: 15px;
}

.name-field {
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border: none;
}

.date-field, .category-field {
    background-color: rgb(245, 245, 245);
    border: none;
    padding: 5px;
}

.date-list-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.name-field:focus, .date-field:focus, .category-field:focus {
    outline: none;
}


.task-modal {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}

.task-details {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    gap: 30px;
}

.assign-list, .set-due {
    display: flex;
    flex-direction: column;
}

.edit-label-name {
    margin-bottom: 10px;
}

.status-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stat-btn {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    color: black;
    border: solid 1px rgb(186, 186, 186);
    cursor: pointer;
}

.selected {
    background-color: rgb(43, 92, 198);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.edit-btn-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.edit-btn, .add-list-btn {
    background-color: rgb(43, 92, 198);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.edit-btn:hover, .add-list-btn:hover {
    background-color: rgb(37, 79, 170);
}

.filter-by {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.filter-by-val:focus {
    outline: none;
}
